
:root {
    --main-color: #212121;
    --accent-color: #2196F3;
    --hero-footer-background-color: #2F303A;
    --paragraph-color: #757575;
    --header-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --location-color: #FFFFFF;
    --hero-title-color: #FFFFFF;
    --main-background-color: #FFFFFF;
    --main-button-color: #FFFFFF;
    --filter-button-color: #F5F4FA;
    --team-color: #F5F4FA;
    --team-card-background: #FFFFFF;
    --footer-contacts: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}



.web-logo {
    color: var(--accent-color);
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--header-logo-color);
    text-decoration: none;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--footer-logo-color);
    text-decoration: none;
}

.nav .link.current {
    color: var(--accent-color)
}



.link {
    text-decoration: none;
    color: var(--main-color);
}
.link:hover,
.link:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.address {
    font-style: normal;
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    text-decoration: none;
}
.contacts-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--footer-contacts);
}
.location {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--location-color);
}

.hero, .footer {
    background-color: var(--hero-footer-background-color);
}

.hero-title {
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.card-paragraph {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.team-professional {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

.benefits-title, 
.services-title, 
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/* списки */
.list {
    list-style-type: none;
}
.nav {
    font-weight: 500;
    font-size: 14px;
}


.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: var(--filter-button-color);
    border-radius: 4px;
    border: none;
}

.list-buttons .filter-button.current {
    background-color: var(--accent-color);
    color: var(--main-button-color);
    border: none;
}

.filter-button:hover,
.filter-button:focus,
.main-button {
    background-color: var(--accent-color);
    color: var(--main-button-color);
    border: none;
    cursor: pointer;
}
.main-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}


.benefit-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.benefit-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}


.team {
    background-color: var(--team-color);
}